@charset "UTF-8";
/* CSS Document */
    /* Estilos para la imagen de espera */
    .cargando {
      position: relative;
      width: 100%;
      height: 100vh;
    }
    
    /* Estilos para el texto "iContel" */
    .cargando .texto {
      background: linear-gradient(to right, #ff0000, #ffa500, #ffff00, #008000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      font-size: 48px;
      font-weight: bold;
      animation: flotar 6s linear infinite;
    }
    
    /* Estilos para ocultar la imagen de espera cuando la página esté cargada */
    .cargando.ocultar {
      display: none;
    }
    
    /* Animación para hacer flotar el texto */
    @keyframes flotar {
      0% {
        top: 10%;
        left: 20%;
        transform: translate(0%, 0%) rotate(10deg);
      }
      25% {
        top: 5%;
        left: 90%;
        transform: translate(-10%, 0%) rotate(-20deg);
      }
      50% {
        top: 95%;
        left: 80%;
        transform: translate(-20%, -10%) rotate(30deg);
      }
      75% {
        top: 80%;
        left: 10%;
        transform: translate(10%, -20%) rotate(-10deg);
      }
      100% {
        top: 10%;
        left: 20%;
        transform: translate(0%, 0%) rotate(10deg);
      }
    }

