@charset "UTF-8";
/* CSS Document */
/* =============================== */
/* Inputs y selects sin bordes     */
/* =============================== */
select[data-campo], input[data-campo] {
    border: none !important;
    background: transparent !important;
    outline: none !important;
    font-size: 12px;
    padding: 2px 4px;
}
select[data-campo]:focus, input[data-campo]:focus {
    outline: none !important;
}

/* =============================== */
/* COLORES DE PRIORIDAD            */
/* =============================== */

.prio-escalado td,
td.prio-escalado,
.prio-escalado select,
.prio-escalado input {
    background: #FF0509 !important;
    color: #FFF !important;
}

.prio-urgente td,
td.prio-urgente,
.prio-urgente select,
.prio-urgente input {
    background: #FFFFFF !important;
    color: #FF0509 !important;
}

.prio-alta td,
td.prio-alta,
.prio-alta select,
.prio-alta input {
    background: #FFFFFF !important;
    color: #FF7F50 !important;
}

.prio-baja td,
td.prio-baja,
.prio-baja select,
.prio-baja input {
    background: #FFFFFF !important;
    color: #2EA306 !important;
}

.subtit th {
    background-color: #512554 !important;
    color: #C39BD3 !important;
    font-size: 12px !important;
}

